apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: rootpassword
  MYSQL_DATABASE: petclinic
  MYSQL_USER: petclinic
  MYSQL_PASSWORD: petclinicpass
